soy el listado completo


        <form action="/clientes-por-anio-de-alta" method="GET">
          <!-- texto input -->
          <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Escribir año de alta para filtrar</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
          
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>

          </div>
        </form>




