{% extends "plantillabase2.html" %}

soy el listado completo

este formulario esta hecho con bootstrap, hay que reemplazarlo con un form de django


         <form action="/clientes/" method="GET">

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="name" id="form2Example1" class="form-control" name="anio"/>
            <label class="form-label" for="form2Example1">Ingresar Año de Alta</label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>

          </div>
        </form>




