{% extends "plantillabase2.html" %}

{% block titulo %}
   Compras
{% endblock %}

{% block linkslaterales %}
              <hr>
                  cLIENTES QUE COMPRARON EL ULTIMO MES
              <hr>
                  CLIENTES QUE NO COMPRAN HACE MAS DE UN MES
              <hr>
                  CLIENTES QUE NO COMPRAN HACE MAS DE 60 DIAS
              <hr>    
            
            {% endblock %}


{% block content %}
    soy la pagina de historial de compras

    <p>Aca iria:<br>

         <br>una tabla que se llena con un for con un buscador y filtros (ver como se hace)
         <br> la tabla tendria los campos nombre, apellido, fecha de ultima compra
    </p>
{% endblock %}
