{% extends "plantillabase2.html" %}

{% block titulo %}
   F.de Pago
{% endblock %}

{% block linkslaterales %}
              <hr>
                  ALTA MEDIO DE PAGO
              <hr>
                  BAJA MEDIO DE PAGO
              <hr>
                  LISTADO DE MEDIOS DE PAGO
              <hr>    
            
            {% endblock %}

{% block content %}
      <p>Aca iria:<br>

            En ALTa: Crud<br>
            En baja: Crud<br>
            En listado de medios de pago: <br>una tabla que se llena con un for con un buscador y filtros (ver como se hace)
                                   <br> la tabla tendria los campos nombre del medio de pago, tipo de pago 
    </p>
{% endblock %}
